.font-bely {
	font-family: 'bely-display', sans-serif;
}
.font-nodo-san {
	font-family: 'source-han-sans-cjk-tc', sans-serif;
}
.font-nodo-serif {
	font-family: 'source-han-serif-tc', serif;
}

.fs-24 {
    font-size: 24px;
}

h2 {
    color:#fff;
    font-weight: 300;
}

.color-y {
    color: #EAB940;
}
.color-o {
    color: #B06349;
}
.color-g {
    color: #405740;
}
.color-gl {
    color: #7D8F88;
}

/* ----------------------- */

/* header */
@media only screen and (max-width: 960px){
    .header .logo {
        width: 10rem;
    }
}

/* ----------------------- */

/* #home */
#home h1 .h1-s {
    font-size: 4rem;
    margin-top: 20px;
}
#home h1 .h1-s span  {
    font-family: 'source-han-sans-cjk-tc', sans-serif;
}

#home p.p-l {
    color: #ddd;
    font-weight: 500;
}

/* #about */
#about .section-block{
    background-color: #405740;
    color:#ddd;
}

#about #topic-1.section-block {
    background-color: #B06349;
}
#about #topic-2.section-block {
    background-color: #EAB940;
}
#about #topic-3.section-block {
    background-color: #7D8F88;
}

.topic h2 {
    font-size:50px;
}
#topic-1 .media-column {
    background-image: url(../images/topic1.svg);
}
#topic-2 .media-column {
    background-image: url(../images/topic2.svg);
}
#topic-3 .media-column {
    background-image: url(../images/topic3.svg);
}


/* #video */
#video .section-block {
    background-color: #405740;
}
    
/* #events */
#events .section-block {
    background-color: #405740; 
}
#events .accordion.style-2 > ul > li.li-border {
	padding: 1.3rem 0;
	border: none;
	font-weight: 400;
	background-color: transparent;
	border-bottom: 1px solid #7D8F88;
}
#events .accordion.style-2 > ul > li > a {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #7D8F88;
}
#events ul.events-ul li,
#events .accordion.style-2 > ul > li > a {
    font-size:18px;
    letter-spacing:0.2rem;
    color: #fff;
}
#events ul.events-ul li span,
#events .accordion.style-2 > ul > li > a span {
    margin-right: 18px;
    font-size:22px;
    color: #ddd;
}
#events .feature-column.left.medium .feature-text {
    padding: 0 2rem;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
}
#events .feature-column.left.medium .feature-text h5 {
    color: #EAB940;
}
#events .feature-column img {
    border-radius: 100px;
    padding: 20px;
}
#events .accordion-content .speaker-block {
    display: flex;
    align-items: center;
}
#events .accordion.style-2 > ul > li > a span.icon-plus,
#events .accordion.style-2 > ul > li > a span.icon-minus {
    color: #EAB940;
}

.women-bn {
    background: url(../images/women-banner.jpg) center no-repeat;
    background-size: 100% auto;
    width:100%;
}
.women-bn:before{
    content: ""; 
    display: block; 
    padding-top: 50%;
}
@media only screen and (max-width: 960px){
    #events .accordion.style-2 > ul > li > a {
        display: block;
    }
    #events ul.events-ul li span,
    #events .accordion.style-2 > ul > li > a span {
    font-size: 17px;
    }

    #events .accordion-content .speaker-block {
        display: block;
        padding: 0;
    }
    #events .accordion-content .speaker-block+.speaker-block {
        margin-top: 30px;
    }
    #events .accordion-content .speaker-block .width-4 {
        width: 35%;
    }
    #events .accordion-content .speaker-block .width-8 {
        width: 65%;
        padding-right: 0;
    }
    #events .feature-column.left.medium .feature-text,
    #events .feature-column img {
        padding: 0;
    }
    #events .feature-text p {
        font-size: 15px;
        line-height: 1.45;
    }
}


/* #reports */
#reports .section-block {
    background-color: #405740;
}
#reports .collapse .column:nth-child(1) {
    background-color: #B06349;
}  
#reports .collapse .column:nth-child(2) {
    background-color: #EAB940;
}  
#reports .collapse .column:nth-child(3) {
    background-color: #7D8F88;
}   
#reports .collapse img {
    width: 40px;
    margin: 0 auto 30px;
}
#reports .column h5 {
    font-weight: 400;
    text-align:left;
}


/* footer */
.footer .footer-logo {
    width:auto;
    display: inline-block;
    margin: 14px 20px;
}
.footer .footer-logo img.img-1 {
    width: 100%;
    height: 48px;
}
.footer .footer-logo img.img-2 {
    width: 100%;
    height: 34px;
}
.footer .footer-logo img.img-3 {
    width: 100%;
    height: 30px;
}