.font-bely {
	font-family: 'bely-display', sans-serif;
}
.font-nodo-san {
	font-family: 'source-han-sans-cjk-tc', sans-serif;
}
.font-nodo-serif {
	font-family: 'source-han-serif-tc', serif;
}

.fs-24 {
    font-size: 24px;
}

h2 {
    color:#fff;
    font-weight: 300;
}

.color-y {
    color: #EAB940;
}
.color-o {
    color: #B06349;
}
.color-g {
    color: #405740;
}
.color-gl {
    color: #7D8F88;
}

.pc-display {
    display:block;
}
.mb-display {
    display:none;
    opacity:0;
}

@media only screen and (max-width: 960px){
    .pc-display {
        display:none;
        opacity:0;
    }
    .mb-display {
        display:block;
    }
}

/* ----------------------- */

/* header */
@media only screen and (max-width: 960px){
    .header .logo {
        width: 10rem;
    }
}


/* ----------------------- */

/* #home */
#home h1 .h1-s {
    font-size: 4rem;
    margin-top: 20px;
}
#home h1 .h1-s span  {
    font-family: 'source-han-sans-cjk-tc', sans-serif;
}
#home p.p-l {
    color: #ddd;
    font-weight: 500;
}

#home .tms-slide.tms-forcefit img.mb-display {
    opacity:0!important;
}

@media only screen and (max-width: 768px){
    #home h1 .h1-s {
        font-size: 3.2rem;
        margin-top: 20px;
        font-weight: 500;
        line-height: 1.2;
    }
    #home .title-large {
        font-size: 6rem;
    }
    #home h1 .h1-s span {
        /* display:block; */
    }
    #home p.p-l {
        color: #eee;
        font-weight: 400;
        font-size: 2.1rem;
    }
    #home,
    #home .tm-slider-container
    #home .tms-slide,
    #home .tms-slides {
        height:calc( 100vh - 80px ) !important;
    }
    #home .tms-slide.tms-forcefit img.mb-display {
        /* height: 100%!important; */
        width: 100%!important;
        top: 0px!important;
        opacity:1!important;
    }

}


/* #about */
#about .section-block{
    background-color: #405740;
    color:#ddd;
}
#about p {
    /* font-size:18px; */
}

#about #topic-1.section-block {
    background-color: #B06349;
}
#about #topic-2.section-block {
    background-color: #EAB940;
}
#about #topic-3.section-block {
    background-color: #7D8F88;
}

.topic h2 {
    font-size:50px;
}
#topic-1 .media-column {
    background-image: url(../images/topic1.svg);
}
#topic-2 .media-column {
    background-image: url(../images/topic2.svg);
}
#topic-3 .media-column {
    background-image: url(../images/topic3.svg);
}

@media only screen and (max-width: 768px){
    #topic-1 .media-column,
    #topic-2 .media-column,
    #topic-3 .media-column {
        height:300px;
    }
    #topic-3 .media-column {
        background-image: url(../images/topic3-mb.svg);
    }
    .hero-5 .column:first-child:not(.media-column) .split-hero-content {
        margin-top:0;
    }
}

/* #video */
#video .section-block {
    /* background-color: #405740; */
}

@media only screen and (max-width: 768px){
    #video .section-block {
        padding-top:9rem;
    }
    #video .row {
        margin: 0 auto;
    }
    #video .column {
        padding:0;
    }
}
    
/* #events */
.section-block {
    /* background-color: #405740;  */
}
#events .logos-4 {
    padding-top:0;
}
#events .accordion.style-2 > ul > li.li-border {
	padding: 1.3rem 0;
	border: none;
	font-weight: 400;
	background-color: transparent;
	border-bottom: 1px solid #7D8F88;
}
#events .accordion.style-2 > ul > li > a {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #7D8F88;
}
#events ul.events-ul li,
#events .accordion.style-2 > ul > li > a {
    font-size:18px;
    letter-spacing:0.2rem;
    color: #fff;
}
#events ul.events-ul li .event-time,
#events .accordion.style-2 > ul > li > a .event-time {
    margin-right: 18px;
    font-size:22px;
    color: #ddd;
}
#events .feature-column.left.medium .feature-text {
    padding: 0 2rem;
    color: #fff;
    font-size: 16px;
    line-height: 1.5;
}
#events .feature-column.left.medium .feature-text h5 {
    color: #EAB940;
}
#events .feature-column img {
    border-radius: 100px;
    padding: 20px;
}
#events .accordion-content .speaker-block {
    display: flex;
    align-items: center;
}
#events .accordion.style-2 > ul > li > a span.icon-plus,
#events .accordion.style-2 > ul > li > a span.icon-minus {
    color: #EAB940;
    font-size: 22px;
}
#events .event-title {
    display:flex;
    align-items:center;
}

.women-bn {
    background: url(../images/women-banner.jpg) center no-repeat;
    background-size: 100% auto;
    width:100%;
}
.women-bn:before{
    content: ""; 
    display: block; 
    padding-top: 50%;
}

@media only screen and (max-width: 960px) {
    #events .accordion.style-2 > ul > li.li-border {
        /* padding-left:20px; */
    }
    #events .accordion.style-2 > ul > li > a {
        display: block;
        /* padding-left:20px; */
        padding: 18px 0;
    }
    #events ul.events-ul li .event-time,
    #events .accordion.style-2 > ul > li > a .event-time {
    font-size: 26px;
    display: block;
    color: #fff;
    }
    #events .event-title {
        /* margin-left: 2px; */
        margin-top: 4px;
    }

    #events .accordion-content .speaker-block {
        display: block;
        padding: 0;
    }
    #events .accordion-content .speaker-block+.speaker-block {
        margin-top: 30px;
    }
    #events .accordion-content .speaker-block .width-4 {
        width: 35%;
    }
    #events .accordion-content .speaker-block .width-8 {
        width: 65%;
        padding-right: 0;
    }
    #events .feature-column.left.medium .feature-text,
    #events .feature-column img {
        padding: 0;
    }
    #events .feature-text p {
        font-size: 15px;
        line-height: 1.45;
    }

    #events .logos-4 img {
        width:80%;
    }

    .women-bn {
        background: url(../images/women-banner-mb.jpg) center no-repeat;
        background-size: 100% auto;
        width:100%;
    }
    .women-bn:before{
        content: ""; 
        display: block; 
        padding-top: 134%;
    }
}


/* #reports */
#reports .section-block {
    /* background-color: #405740; */
}
#reports .collapse .column:nth-child(1) {
    background-color: #B06349;
}  
#reports .collapse .column:nth-child(2) {
    background-color: #EAB940;
}  
#reports .collapse .column:nth-child(3) {
    background-color: #7D8F88;
}   
#reports .collapse img {
    width: 40px;
    margin: 0 auto 30px;
}
#reports .column h5 {
    font-weight: 400;
    text-align:left;
}


/* footer */
.footer .widget {
    display:flex;
    margin-bottom: 0;
}
.footer .widget .logo-wrap {
    display:inline-block;
}
.footer .widget .logo-wrap h5 {
    display:inline-block;
    color: #bbb;
    letter-spacing: 2px;
}
.footer .footer-logo {
    width:auto;
    display: inline-block;
    margin: 14px 20px;
}
.footer .footer-logo img.img-1 {
    /* width: 100%; */
    height: 56px;
}
.footer .footer-logo img.img-2 {
    /* width: 100%; */
    height: 34px;
}
.footer .footer-logo img.img-3 {
    /* width: 100%; */
    height: 30px;
}
@media only screen and (max-width: 768px){ 
    .footer .widget {
        text-align: center;
    }
    .footer .widget .logo-wrap {
        margin-bottom: 30px;
    }
    .footer .widget .logo-wrap h5 {
        display:block;
    }
    .footer .footer-logo {
        margin: 0 10px;
    }
    .footer .copyright {
        text-align: center;
    }

    .footer .footer-logo img.img-1 {
        width: auto;
        /* height: 56px; */
    }
    .footer .footer-logo img.img-2 {
        width: auto;
        /* height: 34px; */
    }
    .footer .footer-logo img.img-3 {
        width: auto;
        /* height: 30px; */
    }
}